@import "../../Styles/theme";

.keyPad {
  display: grid;
  grid-template-columns: [first] 25% [second] 25% [third] 25% [fourth] 25%;
  grid-template-rows: [first] 20% [second] 20% [third] 20% [fourth] 20%;
  padding: 10px;
  border-radius: 10px;
  margin-top: 20px;

  @include themed() {
    background: t('bg-keypad');
    color: t('text-main')
  }

  #seven, #four, #one, #decimal {
    grid-column-start: first;
  }

  #eight, #five, #two, #zero {
    grid-column-start: second;
  }

  #nine, #six, #three, #divide {
    grid-column-start: third;
  }

  #reset {
    grid-column: 1 / span 2;
  }


  button {
    border: none;
    border-radius: 10px;
    font-size: 32px;
    padding: 20px 0px;
    margin: 10px;

    @include themed() {
      background: t('k-main');
      color: t('text-alt');
      box-shadow: 0px 4px t('k-shadow');
    }
  }

  #reset, #del {
    @include themed() {
      background: t('k-reset-del');
      color: t('text-main');
      box-shadow: 0px 4px t('k-reset-del-shadow');
    }
  }

  #equals {
    grid-column: third / span 2;
    @include themed() {
      background: t('k-equals-toggle');
      color: t('text-main');
      box-shadow: 0px 4px t('k-equals-toggle-shadow');
    }
  }

  #equals:hover {
    filter: brightness(150%);
  }

}