@import "./_theme.scss";

body {
  margin: 0;
  padding: 0;
  font-family: 'League Spartan', sans-serif;
}

button {
  font-family: 'League Spartan', sans-serif;
  cursor: pointer;
}

button:hover {
  filter: brightness(150%);
}

.app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
  padding: 0;

  @include themed() {
    background: t('bg-main');
  }
}

.calculator {
  width: 480px;
}
