@import "../../Styles/theme";

.toggle-box {
  display: flex;
  align-items: baseline;
  justify-content: space-between;

  @include themed() {
    color: t('text-main')
  }

}

.theme-box {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 120px;
}


.toggle {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.toggle-options {
  display: flex;
  width: 60px;
  justify-content: space-around;
  margin-bottom: 5px;
}


.theme-toggle {
  @include themed() {
    background: t('bg-keypad');
  }
  border-radius: 8px;
  overflow: hidden;
  flex-direction: row;
  transition: all 500ms ease; 
  display: flex;
  height: 20px;

  button {
    border-radius: 8px;
    height: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 16px;
    background-color: transparent;
    border: 0px solid transparent;
    margin: 2px;
    cursor: pointer;
  }

  button.active {
    @include themed() {
      background: t('k-equals-toggle');
    }
    transition: all .5s ease-in;
  }

  button:focus {
    outline: none;
  }
}

